@import '../../../../assets/css/form.scss';

.btn {
    font-size: 1.4rem;
    margin-top: 1.5rem;
    padding: 1.5rem 3.5rem;
}

#authorisedby {
    float: left;
}

option {
    background-color: #312f2f;
}